<h2>{{ title }}</h2>
<ul>
   <li *ngFor="let course of courses">{{ course }}</li>
</ul>

<input type="text" [(ngModel)]="name" />
<p>{{ name }}</p>

<img src="{{ imageUrl }}" alt="">
<hr>
<img [src]="imageUrl" alt="">
<p [textContent]="iAm"></p>
<p>{{ iAm }}</p>

<table>
   <tr>
      <td [attr.colSpan]="colSpan"></td>
      <td>volvo</td>
   </tr>
   <tr>
      <td>volvo</td>
      <td>volvo</td>
      <td>volvo</td>
   </tr>
</table>
<hr>
<p>class binding</p>
<button class="btn btn-info" [class.disabled]="isDisabled">hit me</button>
<hr>

<p>style binding</p>
<button class="btn btn-info" [style.color]="isActive ? 'white' : 'seagreen'">hit me</button>
<hr>
<span>event binding and event bubbling (stopPropagation)</span>
<div (click)="divClicked()">
   <button (click)="clickHandler($event)">Click me</button>
</div>
<hr>
<p>Keyup</p>
<input (keyup.enter)="onKeyUp()">
<hr>