table {
   td {
      border: 1px dotted saddlebrown;
      padding: 1em;
   }
}

.disabled {
   cursor: not-allowed;
   opacity: .3;
}

p {
   margin-bottom: 0;   
}

input {
   margin-bottom: 1rem;
}